/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .profile-page {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

.profile-image {
  width: 200px;
  height: auto;
}

.home-pic {
  width: 90px;
  height: auto;
}

.header {
  text-align: center;
  padding: 20px;
  background: #f3f3f3;
  border-bottom: 4px solid #ddd;
}

.profile-picture img {
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #000;
}

.my-post-section, .posts-section, .friends-section, .photos-section, .music-section {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
}

.friends-section .friend,
.photos-section img {
  display: inline-block;
  margin: 10px 5px;
}

.photos-section img {
  border: 2px solid #000;
  border-radius: 4px;
}

.music-section ul {
  list-style: none;
  padding-left: 0;
}

.music-section li {
  margin: 5px 0;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px;
}

.searchbar {
  max-width: 200px;
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background: #fafafa;
  border-radius: 20px;
}

.fadeInWidth {
  animation: 0.2s linear fadeInWidth;
}

.fadeOutWidth {
  animation: 0.2s linear fadeOutWidth;
}

.fadeIn {
  animation: 0.8s linear fadeIn;
}
.fadeOut {
  animation: 1s linear fadeOut;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  padding: 0px 15px;
  transition: width 0.4s linear;
  caret-color: rgb(0, 255, 234);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.search-icon {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818181;
  font-size: small;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.icon-bg:hover {
  opacity: 0.8;
  cursor: pointer;
}

@keyframes fadeInWidth {
  0% {
    width: 30px;
  }
  100% {
    width: 200px;
  }
}
@keyframes fadeOutWidth {
  0% {
    width: 200px;
  }
  100% {
    width: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
